.custom-input {
	box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px 0 inset;
}

.fixed-input {
	@apply w-full
    focus:outline-0
    border-b-2
    focus:border-blue-500
}

.fixed-icon {
	@apply w-5
    h-5
    transition
    ease-in;
}

.fixed-focus-icon {
	@apply text-blue-500
    scale-110
    animate-spin;
}
