.custom-input {
	box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.fixed-input {
	@apply w-full
    focus:outline-0
    border-b-2
    focus:border-blue-500
    border-stone-300;
}

.fixed-icon {
	@apply w-5
    h-5
    transition
    ease-in;
}

.fixed-focus-icon {
	@apply text-blue-500
    scale-110
    animate-bounce;
}
