.app-bg-gradient {
	background: ghostwhite;
}

.shadow-card {
	border-radius: 30px;
	background: white;
	box-shadow: 30px 30px 60px #a1a1a1, -30px -30px 60px #ffffff;
}

.full-height {
	height: calc(100vh - 54px);
}
